<div id="okta-login-container"></div>
<script type="text/javascript">

  var oktaSignIn = new OktaSignIn({
      clientId: '{{client.id}}',
      baseUrl: '{{client.issuer}}',
      authScheme: 'SESSION',
      /* See also: https://github.com/okta/okta-signin-widget#registration */
      registration: {
          parseSchema: function(schema, onSuccess, onFailure) {
             // handle parseSchema callback
             onSuccess(schema);
          },
          preSubmit: function (postData, onSuccess, onFailure) {
             // handle preSubmit callback
             onSuccess(postData);
          },
          postSubmit: function (response, onSuccess, onFailure) {
              // handle postsubmit callback
              onSuccess(response);
          }
      },
      features: {
          router: true,
          registration: true,
          securityImage: false,
          autoPush: true
      },
      /* See also: https://developer.okta.com/code/javascript/okta_sign-in_widget.html#customization */
      labels: {
          'primaryauth.title': 'Example Okta Widget'
      },
      language: "en"
  });
  oktaSignIn.renderEl(
    { el: '#okta-login-container' },
    function(res) {
      if (res.status === 'SUCCESS') {
        res.session.setCookieAndRedirect('{{client.redirectUrl}}');
      }
    }
  );
</script>
